<p>
Fair Software workshop intoduces the five recommendations on how to make research sofware more FAIR
presented on the <a href="https://www.fair-software.eu">fair-software.eu</a> website. The five recommendations are:
</p>
<ol>
  <li>
    Use a publicly accessible repository with version control.
  </li>
  <li>
    Add a license.
  </li>
  <li>
    Register your code in a community registry.
  </li>
  <li>
    Enable citation of the software.
  </li>
  <li>
    Use a software quality checklist.
  </li>
</ol>
