<p>
Fair Software workshop intoduces the five recomendations on how to make research sofware more FAIR
presented on the <a href="www.fair-software.eu">fair-software.eu</a> website. The five recommendations are:
<ol>
  <li>
    Use publicly accessible repository with version control.
  </li>
  <li>
    Add a license.
  </li>
  <li>
    Register your code in a community registry.
  </li>
  <li>
    Enable citation of the software.
  </li>
  <li>
    Use software quality checklist.
  </li>
</ol>
</p>
