<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td>Welcome</td> </tr>
      <tr> <td>14:15</td>  <td>Introduction to 5 FAIR software recommendations</td> </tr>
      <tr> <td>14:30</td>  <td>Use a publicly accessible repository with version control</td> </tr>
      <tr> <td>15:00</td>  <td>Break </td> </tr>
      <tr> <td>15:10</td>  <td>Add a license</td> </tr>
      <tr> <td>15:30</td>  <td>Register your code in a community registry</td> </tr>
      <tr> <td>15:50</td>  <td>Enable citation of the software</td> </tr>
      <tr> <td>16:10</td>  <td>Break</td> </tr>
      <tr> <td>16:20</td>  <td>Use a software quality checklist</td></tr>
      <tr> <td>16:50</td>  <td>Wrap up, feedback</td></tr>
      <tr> <td>16:55</td>  <td>Closing</td></tr>
    </table>
  </div>
</div>
