<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Hello, testing participants video and audio setup</td> </tr>
      <tr> <td>10:00</td>  <td>Introduction to 5 FAIR software recommendations</td> </tr>
      <tr> <td>10:15</td>  <td>Use publicly accessible repository with version control</td> </tr>
      <tr> <td>11:00</td>  <td>Add a License</td> </tr>
      <tr> <td>11:45</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:45</td>  <td>Register your code in a community registry</td> </tr>
      <tr> <td>13:30</td>  <td>Enable citation of the software</td> </tr>
      <tr> <td>14:15</td>  <td>Use software quality checklist</td></tr>
      <tr> <td>14:15</td>  <td>Wrap up, feedback</td></tr>
      <tr> <td>15:30</td>  <td>The end</td></tr>
    </table>
  </div>
</div>
