<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Welcome</td> </tr>
      <tr> <td>09:15</td>  <td>Introduction to 5 FAIR software recommendations</td> </tr>
      <tr> <td>09:30</td>  <td>Use a publicly accessible repository with version control</td> </tr>
      <tr> <td>10:10</td>  <td>Break </td> </tr>
      <tr> <td>10:25</td>  <td>Add a license</td> </tr>
      <tr> <td>10:55</td>  <td>Register your code in a community registry</td> </tr>
      <tr> <td>11:25</td>  <td>Break</td> </tr>
      <tr> <td>11:40</td>  <td>Enable citation of the software</td> </tr>
      <tr> <td>12:10</td>  <td>Use a software quality checklist</td></tr>
      <tr> <td>12:40</td>  <td>Wrap up, feedback</td></tr>
      <tr> <td>12:55</td>  <td>Closing</td></tr>
    </table>
  </div>
</div>
