<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-repository">Use publicly accessible repository with version control.</h3>
    <ul>
      <li>Create open online repository on GitHub</li>
      <li>Publish and version control your source code</li>
      <li><a href="https://fair-software.eu/recommendations/repository">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-license">Add a License</h3>
    <ul>
      <li>How do I choose a license?</li>
      <li>Online resources to help you choose a license</li>
      <li>Add license to your repository</li>
      <li><a href="https://fair-software.eu/recommendations/license">Reference...</a></li>
    </ul>
  </div>
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-r">Programming in R</h3>
    <ul>
      <li>Working with vectors and data frames</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Using R from the command line</li>
      <li><a href="{{site.swc_pages}}/r-novice-inflammation/reference/">Reference...</a></li>
    </ul>
  </div>
  -->
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-matlab">Programming in MATLAB</h3>
    <ul>
      <li>Working with arrays</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Defensive programming</li>
      <li><a href="{{site.swc_pages}}/matlab-novice-inflammation/reference/">Reference...</a></li>
     </ul>
   </div>
   -->
</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Register your code in a community registry.</h3>
    <ul>
      <li>What is software registry?</li>
      <li>My is it important to register you software?</li>
      <li>How do you choose a registry?</li>
      <li><a href="https://fair-software.eu/recommendations/registry">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-sql">Enable citation of the software.</h3>
    <ul>
      <li>What is software citation?</li>
      <li>Why is software citation important?</li>
      <li>How to tell users how to cite your software?</li>
      <li>What is DOI, .cff and CODEMETA?</li>
      <li><a href="https://fair-software.eu/recommendations/citation">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-r">Use software quality checklist.</h3>
    <ul>
      <li>What is software quality checklist?</li>
      <li>Why should I use a cheklist?</li>
      <li>What are the checklists I can use?</li>
      <li><a href="https://fair-software.eu/recommendations/checklist">Reference...</a></li>
    </ul>
  </div>
</div>
