<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-repository">Use a publicly accessible repository with version control</h3>
    <ul>
      <li>Create open online repository on GitHub</li>
      <li>Publish and version control your source code</li>
      <li><a href="https://fair-software.eu/recommendations/repository">Reference...</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-license">Add a license</h3>
    <ul>
      <li>How do I choose a license?</li>
      <li>Online resources to help you choose a license</li>
      <li>Add license to your repository</li>
      <li><a href="https://fair-software.eu/recommendations/license">Reference...</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Register your code in a community registry</h3>
    <ul>
      <li>What is a software registry?</li>
      <li>Why is it important to register your software?</li>
      <li>How do you choose a registry?</li>
      <li><a href="https://fair-software.eu/recommendations/registry">Reference...</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-sql">Enable citation of the software</h3>
    <ul>
      <li>What is software citation?</li>
      <li>Why is software citation important?</li>
      <li>How to tell users how to cite your software?</li>
      <li>What is DOI, CITATION.cff and CodeMeta?</li>
      <li><a href="https://fair-software.eu/recommendations/citation">Reference...</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-r">Use a software quality checklist</h3>
    <ul>
      <li>What is a software quality checklist?</li>
      <li>Why should I use a cheklist?</li>
      <li>What are the checklists I can use?</li>
      <li><a href="https://fair-software.eu/recommendations/checklist">Reference...</a></li>
    </ul>
  </div>
</div>
